@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
}

.sidebar {
  .ant-drawer-body {
    padding: 0;
  }
}


.register-member-card{
  .ant-card {
    &-body{
      padding: 16px;
      border-radius: 12px;
    }
  }
}