@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  box-sizing: border-box;
}

.sidebar {
  .ant-drawer-body {
    padding: 0;
  }
}

.register-member-card {
  .ant-card {
    &-body {
      padding: 8px;
      border-radius: 12px;
    }
  }
}

.ant-card {
  &-body {
    padding: 12px !important;
  }
}

.section {
  &--border {
    padding: 2rem 1rem;
    border: 1rem solid "#aaaaff";
    border-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        "#aaaaff" 12px,
        "#aaaaff" 30px,
        transparent 32px,
        transparent 40px
      )
      40/2rem;
  }
}

.active-green:has(.ant-radio-button-checked){
 background-color: #16a34a !important;
 border-color: #16a34a !important;
}

.active-red:has(.ant-radio-button-checked){
  background-color: #dc2626 !important;
  border-color: #dc2626 !important;
}
